.newAdviceNine{

    justify-content: center;
    color: black;
    background-color: yellow;
    position: relative;
    border: 1px solid grey;
    box-shadow: 5px 10px 18px #888888;
    margin: 100px;
    padding: 30px 40px;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 700;
    animation: shake 1s linear;
    
    
}

@keyframes shake{
	0%,30%,50%{
		transform: translateX(200px);
	}
	20%, 40%{
		transform: translateY(400px);
	}
}

    
