.App {
  margin: 0;
  display: border-box;
  justify-content: center;
  text-align: center;
	
}

.container{
  
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("./images/4793187.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


h1{

  font-size: 60px;
  margin: 50px;
  border: 1px solid grey;
  box-shadow: 5px 10px 10px #a6a6a6;
  background: white;
  border-radius: 10px;
    
}

h2{

  font-size: 40px;
  margin: 50px;
  border: 1px solid grey;
  box-shadow: 5px 10px 10px #a6a6a6;
  background: white;
  border-radius: 10px;
    
}


.modal {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index:800;
	overflow: auto;
	display: none;
	justify-content: center;
  align-items: center;
  
  
}

.modal-main {
  background-color: white;
	width: 75%;
	max-height: 100%;
	margin: 2rem;
	padding: 2rem;
	border-radius: 0.25rem;
	box-shadow: 0 4px 20px black;
	overflow: auto;
	list-style-type: circle;
  }

  .show{
    animation: fadeIn 0.1s ease-in-out forwards;
  }
  

.display-block {
  display: block;
}

.display-none {
  display: none;
}




